#bg {
    background-image: url("images/bg2.jpg");
    height: 400px;
    max-width: 1200px;
    margin-top: 50px;
    margin-left: 80px;
    padding-top: 50px;
    color: white;
}

#content {
    padding: 10px 20px 50px 20px;
    /* TOP RIGHT BUTTOM LEFT*/
    max-width: 800px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}